body{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(85, 16, 95);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: space-between;
    color: aliceblue;
}

header div {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    
}

nav a {
    text-decoration: none;
    color: var(--cor-texto);
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: all 0.3s ease;
    position: relative;
}

.conteiner{
    align-items: center;
    height: 600px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.conteiner div {
    max-width: 50%;
}

.imagem{
    position: relative;
    padding: 100px;
}

.imagem img {
    
    width: 150px;
    height: 150px;
}

footer{
    background-color: rgb(85, 16, 95);
    text-align: center;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}